button {
    font-size: 20px;
    font-family:Share tech mono;
    background-color: green;
    padding: 20px;
    border-radius: 1px;
    text-align: auto;
    border: none;
    color: white;
    

    
}

#Tilbake:hover{
    background-color:greenyellow;
    color: black;
}

button:hover{
    background-color:greenyellow;
    color: black;
}

.choiceBtn{
    line-height: 30px;
    width: 150px;
}

#gameDiv{
    font-family:Share tech mono, cursive;
    border: 3px solid;
    border-radius: 25px;
    border-color: green;
    padding: 100px;
    background-color:black;
    text-align: center;    
    width: 600px; /* Set the width */
    height: 300px; /* Set the height */
    margin: auto; /* Center the box */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}



#spelarText{
    color: white;
}

#datamaskinText{
    color:white;
}

#resultatText{
    color: white;
}
